/* done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.icon-r-logo {
  width: 1.305em;
  height: 1em;
  fill: #4A4A4A;
  stroke: initial;
}

.icon-rezult-logotype {
  width: 4.731132075471698em;
  height: 1em;
  fill: none;
  stroke: #000;
}

html {
  font-size: 62.5%;
}

body {
  background: #FFF;
  font: normal 16px/1.4 Arial;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1040px;
}

a:not([class]) {
  color: inherit;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:not([class]):hover {
  color: red;
}

.l {
  max-width: 1040px;
  padding: 0 20px;
  margin: auto;
  box-sizing: border-box;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  z-index: auto;
  background: none;
  border: 1px solid;
  color: inherit;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0.02em;
  line-height: 46px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn > span {
  position: relative;
  z-index: 1;
}

.btn:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.btn:hover, .btn:focus {
  border-color: #ff0000;
  color: white;
}

.btn:hover:before, .btn:focus:before {
  opacity: 1;
  visibility: visible;
  background: #ff0000;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btn:active {
  border-color: #f10000;
  color: white;
}

.btn:active:before {
  background: #f10000;
}

.btn.is-active {
  border-color: black;
  color: white;
}

.btn.is-active:before {
  background: black;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btn[disabled], .btn.is-disabled {
  background: none;
  color: black;
  border-color: black;
  opacity: 0.2;
  cursor: not-allowed;
}

.btn[disabled]:before, .btn.is-disabled:before {
  display: none;
}

.btn_hero {
  min-width: 303px;
}

.hero {
  height: 100vh;
  background: black url("../img/hero-1.jpg") no-repeat center;
  background-size: cover;
  color: white;
}

.hero__inner {
  padding-top: 40px;
  padding-bottom: 110px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 0;
  white-space: nowrap;
}

.hero__inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.hero__center {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  text-align: left;
  font-size: 16px;
  font-size: 1.6rem;
}

.hero__logo .icon {
  font-size: 212px;
  font-size: 21.2rem;
  -webkit-transform: translate(0.5px, 0.5px);
  -ms-transform: translate(0.5px, 0.5px);
  transform: translate(0.5px, 0.5px);
  stroke: white;
}

.hero__logo svg path, .hero__logo .icon {
  fill: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  transition-property: fill, stroke;
}

.hero__logo:hover svg path, .hero__logo:hover .icon {
  fill: #EB2024;
  stroke: #EB2024;
}

.hero__title {
  margin-top: 27px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: 25.83333em;
}

.hero__buttons {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
}

.hero__buttons .btn {
  margin: 0 5px;
}

.nav-links {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  padding: 34px 40px 0 40px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: right;
}

.nav-links a:not(:first-child) {
  margin-left: 25px;
}

.language {
  position: fixed;
  top: 50%;
  right: 5px;
  font-size: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  height: 15em;
  margin-top: -7.5em;
  width: 1.5em;
  text-align: center;
}

.language__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  text-align: center;
  width: 15em;
}

.language__link {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  color: inherit;
  text-decoration: none;
  position: relative;
  line-height: 1;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.language__link:hover, .language__link:focus {
  color: red;
}

.language__link.is-active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: currentColor;
}

/*# sourceMappingURL=app.css.map */
