html
  font-size: 62.5%

body
  background: $color-global-bg
  font: normal 16px/1.4 Arial
  font-size: 1.6rem
  +smooth-font
  min-width: $min-width
  color: black
  &.is-dragging
    *
      user-select: none !important
      cursor: grab !important

h1:not([class]), .h1
  +f(36,42,100)

h2:not([class]), .h2
  +f(48)

h3:not([class]), .h3
  +f(28,24,100)

h4:not([class]), .h4
  +f(24,36)

h5:not([class]), .h5
  +f(12,24,100)

a:not([class])
  color: inherit
  +trans(color)
  text-decoration: none
  &:hover
    color: red

.l
  padding: 0 100px
  box-sizing: border-box

.l-center
  max-width: 1200px
  padding: 0 100px
  margin: auto
  box-sizing: border-box

.l-col-620
  max-width: 620px

.l-catalog-item-main
  float: left
  width: percentage(770/1000)
  padding-top: 25px

.l-catalog-item-aside
  padding-top: 25px
  float: right
  width: percentage(230/1000)
  position: relative
  .calc
    margin-top: -80px
    margin-left: 40px
  +r(1300)
    .calc
      margin-left: 0

.l-content
  max-width: 990px
  margin: auto
  box-sizing: border-box
  padding: 85px 210px 105px 0

.l-content-col
  display: inline-block
  vertical-align: top
  margin-top: 40px
  width: 50%
  box-sizing: border-box
  width: percentage(330/780)
  +f(16)
  &:nth-child(odd)
    margin-right: percentage(120/780)
  &:last-child
    margin-bottom: 40px

.out
  position: relative
  overflow: hidden
  z-index: 0

.clearfix
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear: both

.font-size-0
  font-size: 0

.content-wrapper
  position: relative
  z-index: 1

.align-center
  text-align: center

.align-right
  text-align: right

.uppercase
  text-transform: uppercase

.spacing-100
  letter-spacing: 0.1em

.spacing-50
  letter-spacing: 0.05em

.btn
  display: inline-block
  box-sizing: border-box
  position: relative
  z-index: auto
  background: none
  border: 1px solid
  color: inherit
  height: 48px
  padding: 0 15px
  text-align: center
  +f(18, false, 20)
  line-height: 46px
  font-weight: 700
  text-decoration: none
  cursor: pointer
  +trans
  user-select: none
  appearance: none
  > span
    position: relative
    z-index: 1
  &:before
    content: ""
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: none
    transform: scale(0.5)
    opacity: 0
    visibility: hidden
    box-shadow: 0 5px 35px rgba(red, 0.4)
    +trans

  &:hover,
  &:focus
    border-color: #ff0000
    color: white
    &:before
      opacity: 1
      visibility: visible
      background: #ff0000
      transform: scale(1)

  &:active
    border-color: #f10000
    color: white
    &:before
      background: #f10000

  &.is-active
    border-color: black
    color: white
    &:before
      background: black
      opacity: 1
      visibility: visible
      transform: scale(1)

  &[disabled],
  &.is-disabled
    background: none
    color: black
    border-color: black
    opacity: 0.2
    cursor: not-allowed
    &:before
      display: none

  &_hero
    min-width: 303px

  &_lg
    border-width: 2px
    height: 56px
    line-height: 54px
    min-width: 335px
    +f(16, false, 25)
    text-transform: uppercase

  &_xlg
    height: 64px
    line-height: 62px
    +f(14,false,100)
    text-transform: uppercase

  &_sm
    height: 36px
    line-height: 34px
    +f(14)

  &_fw
    display: block
    width: 100%

  &_black
    background: black
    color: white
    border-color: black

  &_select
    display: inline-block
    vertical-align: middle
    height: 60px
    padding: 15px 15px 0
    box-sizing: border-box
    border: 1px solid rgba(black, 0.5)
    +f(12,16,100)
    text-align: left
    text-transform: uppercase
    &.is-selected
      background: rgba(#C7CBCE, 0.5)
      border-color: rgba(#989DA1, 0.5)
      cursor: default
      color: inherit
      &:before
        opacity: 0
        visibility: hidden


.tooltip
  display: block
  position: absolute
  z-index: 2
  bottom: 100%
  left: 0
  max-width: 260px
  +f(12,18,100)
  font-weight: 700
  line-height: 1.4
  color: black
  text-transform: uppercase
  padding: 7px 20px
  box-sizing: border-box
  background: white
  white-space: nowrap
  transition: all 0.2s ease
  transform-origin: center bottom
  &:before
    content: ""
    +arr(14,10,white,tl)
    position: absolute
    top: 100%
    left: 50%
  &_arr-right
    transform-origin: right bottom
    &:before
      left: auto
      right: 0
      +arr(14,10,white,tr)
  &_arr-left
    transform-origin: left bottom
    &:before
      left: 0

.tiles-group
  +clr
  margin: 70px 0 90px

.tile
  display: block
  position: relative
  z-index: 1
  float: left
  width: 25%
  box-sizing: border-box
  background-size: cover
  background-position: center
  color: white
  font-size: 14px
  font-weight: 700
  cursor: pointer
  &:before
    content: ""
    display: block
    padding-bottom: 100%
  &:after
    content: ""
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(255, 0, 0, 0.8)
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.6)
    pointer-events: none
    +trans
    opacity: 0
    visibility: hidden
    transform: translate3d(0,0,0) scale(1.15)
  &:hover
    z-index: 2
    &:after
      transition-delay: 0.1s
      opacity: 1
      visibility: visible
      transform: translate3d(0,0,0) scale(1)
    .tile__play-button
      animation: zoom-in 0.3s ease 1
  &_2x2
    width: 50%
  &_2x1
    width: 50%
    &:before
      padding-bottom: 50%
  &_pull-right
    float: right
  &_simple
    color: red
    box-shadow: inset 0 0 0 1px red, 0 0 0 1px red
    +trans(color)
    &:after
      background: red
    .tile__title
      +f(24,36)
    .tile__subtitle
      margin-top: 3px
    &:hover
      color: white
      .tile__badge
        color: red
        background: white
  &_static
    cursor: default
    z-index: 0
    &:after
      display: none

.tile__inner
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100%
  box-sizing: border-box
  padding: 20px

.tile__title
  display: block
  +f(36,42)
  font-weight: 700

.tile__subtitle
  display: block
  +f(14)
  font-weight: 700

.tile__number
  position: absolute
  top: 15px
  right: 20px

.tile__badge
  position: absolute
  top: 20px
  right: 20px
  padding: 4px 5px 2px
  +f(9,9,100)
  min-width: 30px
  text-align: center
  box-sizing: border-box
  color: white
  font-weight: 700
  background: red
  text-transform: uppercase
  +trans
  transition-property: color, background-color

.tile__info
  position: absolute
  bottom: 15px
  left: 100%
  margin-left: -16px
  transform: rotate(-90deg)
  transform-origin: 0 100%
  white-space: nowrap

.tile__video-name
  +f(24)
  position: absolute
  bottom: 18px
  left: 20px

.tile__play-button
  position: absolute
  top: 50%
  left: 50%
  margin: -0.5em 0 0 -0.39em
  +f(36)
  .icon
    display: block
    fill: white

@keyframes zoom-in
  0%, 100%
    transform: scale(1)
  50%
    transform: scale(1.3)

.select
  display: inline-block
  position: relative
  z-index: 1
  max-width: 230px
  text-align: left
  user-select: none
  &.is-active
    z-index: 5
    .select__button-overlay
      opacity: 1
      visibility: visible
      transform: none
      color: $color-red
      &:before
        transform: none
        opacity: 1
        transition-delay: 0.2s
    .select__button
      color: $color-red
      &:before
        transform: translateY(10px)
        opacity: 0
      &:after
        transform: scale(0, 1)
        opacity: 0
    .select__list
      opacity: 1
      visibility: visible
      transform: none
  &.is-disabled
    color: black
    opacity: 0.5
    cursor: not-allowed
    .select__button
      cursor: not-allowed
      pointer-events: none
      &:after
        border-color: currentColor

.select__button
  display: block
  position: relative
  z-index: 1
  background: none
  +f(16)
  font-weight: 700
  max-width: 100%
  box-sizing: border-box
  cursor: pointer
  padding-right: 15px
  height: em(34,16)
  line-height: em(34,16)
  +text-overflow
  +trans
  &:before
    content: ""
    position: absolute
    top: 50%
    right: 0
    margin-top: -2px
    +arr(6,5,currentColor,b)
    +trans
    transition-property: transform, opacity
    transform-origin: center center
  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    right: 15px
    border-top: 1px solid $color-red
    margin-top: 1em
    +trans
    transition-property: transform, opacity
  &:hover
    color: $color-red
  &:disabled,
  &[disabled]
    cursor: not-allowed
    color: black
    opacity: 0.5
    &:after
      border-color: currentColor

.select__button-overlay
  opacity: 0
  visibility: hidden
  position: absolute
  z-index: 0
  top: 50%
  left: -20px
  width: 270px
  height: 58px
  box-sizing: border-box
  background: white
  border: 1px solid #D8DBDF
  margin-top: -29px
  cursor: pointer
  +trans
  transform: translateY(10px)
  transform-origin: 20px 50%
  &:before
    content: ""
    position: absolute
    top: 50%
    right: 20px
    margin-top: -2px
    +arr(5,6,currentColor,l)
    +trans
    transform: translateX(10px)
    opacity: 0
    transition-property: transform, opacity

.select__list
  visibility: hidden
  opacity: 0
  position: absolute
  z-index: 1
  top: 100%
  left: -20px
  width: 270px
  margin-top: em(11,16)
  padding: 15px 0
  max-height: 300px
  background-color: white
  border: 1px solid #d8dbdf
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15)
  box-sizing: border-box
  transform: translateY(-10px)
  transform-origin: center top
  +smooth-scroll
  +trans
  &:before
    content: ""
    position: absolute
    bottom: 100%
    left: 20px
    margin-bottom: 1px
    +arr(16,11,rgba(0, 0, 0, 0.15),t)
  &:after
    content: ""
    position: absolute
    bottom: 100%
    left: 20px
    margin-bottom: -1px
    +arr(16,11,white,t)

.select__item
  +f(16,24)
  color: black
  cursor: pointer
  padding: 12px 20px
  +trans(color)
  &:hover,
  &.is-selected
    color: $color-red

.radio-group
  display: inline-block
  .radio-select
    &:not(:last-child)
      margin-right: 25px

.radio-select
  display: inline-block
  height: 30px
  line-height: 30px
  +f(16)
  font-weight: 700
  position: relative
  cursor: pointer
  input
    position: absolute
    opacity: 0
    &:checked
      + span
        opacity: 1
        &:after
          transform: none
          opacity: 1
  span
    opacity: 0.4
    +trans
    display: inline-block
    vertical-align: top
    &:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      right: 0
      border-top: 1px solid $color-red
      +trans
      transform: scale(0, 1)
      transform-origin: center center
  &:hover
    color: $color-red
    span
      opacity: 1


.text
  +f(16, 36)
  p
    margin: 1em 0


.table
  table-layout: fixed
  +f(16,24)
  font-weight: 700
  td
    padding: 20px 0 0
  tr
    &:first-child
      td
        padding-top: 0
  &_features
    margin-top: 70px
    width: auto
    min-width: 410px

.table__caption
  position: relative
  padding-bottom: 30px
  margin-bottom: 33px
  +f(16,24,100)
  text-transform: uppercase
  text-align: left
  &:before
    content: ""
    position: absolute
    bottom: 0
    left: -30px
    right: 0
    height: 1px
    background: currentColor
    opacity: 0.2


.table__label
  display: block
  +f(14,24)
  font-style: italic
  font-weight: normal
  color: #A8ACB0


.checkbox
  position: relative
  display: inline-block
  +f(14)
  line-height: 1.5
  color: inherit
  cursor: pointer
  user-select: none
  input
    position: absolute
    opacity: 0
    &:checked + span:after
      display: block
    &:disabled,
    &[disabled]
      + span
        color: black
        opacity: 0.5
        &:before
          background: #D9E0E6
          border-color: #ADB4BB
  span
    position: relative
    display: block
    padding-left: 27px
    height: 20px
    +trans(color)
    &:before
      content: ""
      position: absolute
      top: 1px
      left: 0
      width: 16px
      height: 16px
      box-sizing: border-box
      border: 1px solid #ADB4BB
      +trans(border-color)
    &:after
      display: none
      content: ""
      position: absolute
      top: -10px
      left: -9px
      width: 38px
      height: 35px
      // background: url('../icons/checkmark.png')
      background: url($inline-checkmark), no-repeat center
      background-size: contain
  &:hover
    color: red
    span
      &:before
        border-color: red


.slider
  position: relative
  &.is-active
    .slider__value
      color: red

.slider__value
  display: block
  text-align: center
  margin-bottom: 13px
  +f(36,36)
  font-weight: 700
  padding-left: 15px
  +trans(color)
  sub
    font-size: em(18,36)
    color: #D0D5DA
    // opacity: 0.4
    margin-left: -4px

.slider__pips
  position: relative
  padding-top: 12px
  margin-top: 5px

.slider__pip
  position: absolute
  top: 0
  padding-top: 12px
  white-space: nowrap
  color: black
  font-size: 10px
  line-height: 1
  font-weight: 700
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 5px
    width: 1px
    background: #B2B2B2
  sub
    color: #D0D5DA
    // opacity: 0.4
  @for $i from 1 through 20
    &:nth-child(#{$i})
      left: ($i - 1) * 10 + %
  &:last-child
    left: auto
    right: 0
    text-align: right
    &:before
      position: absolute
      right: 0
      left: auto


.title-margin
  &:not(:first-child)
    margin-top: 2em
  &:not(:last-child)
    margin-bottom: 1.7em


.shift-left
  position: relative
  left: -100px

.logotype-full
  position: relative
  display: inline-block
  font-size: 17px
  text-transform: uppercase
  white-space: nowrap
  font-weight: 700
  line-height: 1
  text-align: left
  > span
    display: inline-block
    vertical-align: bottom
    position: relative
    letter-spacing: 0.1em
  .icon-rezult-logotype
    display: inline-block
    vertical-align: bottom
    margin-right: em(10,60)
    font-size: em(190,60)
    fill: currentColor
    stroke: currentColor

.form-column
  max-width: 350px

.form-field
  position: relative
  margin-top: 30px
  width: 100%
  perspective: 800px
  &:hover
    .form-hint
      opacity: 1
      visibility: visible
      transform: rotateX(0deg)
      transition-delay: 0.2s
  &.has-error
    .form-input
      color: red
      border-color: red
    .form-hint-error
      opacity: 1
      visibility: visible
      transform: rotateX(0deg)
  &_country
    float: left
    width: percentage(145/350)
    max-width: 145px
    margin-right: percentage(20/350)
  &_city
    float: left
    width: percentage(290/350)
    max-width: 185px
  &_phone
    max-width: 245px

.form-label
  display: block
  +f(12,24)
  font-weight: normal
  opacity: 0.4

.form-input
  position: relative
  display: block
  box-sizing: border-box
  width: 100%
  padding: 2px 0 7px
  +f(16, 24)
  font-family: Arial, sans-serif
  font-weight: normal
  border: 1px solid
  border-width: 0 0 1px 0
  background: none
  resize: vertical
  appearance: none
  +trans
  &:focus
    border-color: red
    box-shadow: 0 1px 0 0 red
  &.has-error
    border-color: red
    box-shadow: 0 1px 0 0 red

.form-hint,
.form-hint-error
  position: absolute
  z-index: 0
  top: 100%
  left: 0
  width: 100%
  padding: 7px 7px 7px 30px
  box-sizing: border-box
  background: #e8ebef
  color: #acafb2
  +f(12, 16.5)
  transform: rotateX(-90deg)
  opacity: 0
  visibility: hidden
  transform-origin: center top
  +trans
  .icon
    position: absolute
    fill: currentColor
    top: 7px
    left: 7px
    +f(16)

.form-hint-error
  color: red
