.footer
  padding: 80px 150px 20px
  background: #191919
  color: white

.footer__logo
  text-align: center
  +f(18, false, 100)
  text-transform: uppercase
  line-height: 1
  font-weight: bold
  color: $color-red
  > *
    display: inline-block
    vertical-align: baseline
  .icon
    fill: $color-red
    stroke: $color-red
    +f(54)
    margin-right: 10px
