.noUi-horizontal
  height: 1px
  .noUi-handle
    width: 49px
    height: 58px
    left: -25px
    top: -15px

.noUi-background
  background: red

.noUi-target
  border: none
  box-shadow: none
  border-radius: 0

.noUi-origin
  border-radius: 0

.noUi-handle
  border: none
  box-shadow: none
  width: 49px
  height: 58px
  background: url($inline-handle) no-repeat center
  background-size: contain
  &:before,
  &:after
    display: none
